In [19]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\hp\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\hp\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [20]:
import mysql.connector

In [21]:
data=mysql.connector.connect(
        host="localhost",
        user="root",
        password='14302@Omkar')
print(data)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001FB4B789CD0>

In [22]:
mydb=data.cursor()
mydb

In [5]:
mydb.execute("create database Hotel_Reservation")

In [23]:
mydb.execute("show databases")

for x in mydb:
    print(x)

('database1',)
('hotel_reservation',)
('information_schema',)
('mydata',)
('mysql',)
('naveendb',)
('onlinestore',)
('performance_schema',)
('sys',)

In [3]:
import mysql.connector

In [4]:
data=mysql.connector.connect(
        host="localhost",
        user="root",
        password='14302@Omkar',
        database='Hotel_Reservation')
print(data)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000015C70BB4210>

In [5]:
mydb=data.cursor()
mydb

In [28]:
mydb.execute("create table Rooms(room_number int primary key,room_type varchar(50) not null,rate decimal(10,2) not null,capacity int not null)")

In [5]:
mydb.execute("show tables")

for x in mydb:
    print(x)

('rooms',)

In [6]:
sql="insert into Rooms(room_number,room_type,rate,capacity)values(%s,%s,%s,%s)"
val=[
    (100,"standard",999,2),
    (102,"deluxe",1999,3),
    (103,"suite",2500,4)
]
mydb.executemany(sql,val)
data.commit()
print(mydb.rowcount,"rows inserted")

3 rows inserted

In [7]:
mydb.execute("select * from Rooms")
a=mydb.fetchall()
for x in a:
    print(x)

(100, 'standard', Decimal('999.00'), 2)
(102, 'deluxe', Decimal('1999.00'), 3)
(103, 'suite', Decimal('2500.00'), 4)

In [8]:
mydb.execute("select * from Rooms")

a=mydb.fetchone()
a

(100, 'standard', Decimal('999.00'), 2)

In [4]:
mydb=data.cursor()
mydb.execute("select * from Rooms limit 1")
res=mydb.fetchall()
res

[(100, 'standard', Decimal('999.00'), 2)]

In [5]:
mydb=data.cursor()
mydb.execute("select * from Rooms where room_number=102")
res=mydb.fetchall()
for x in res:
    print(x)

(102, 'deluxe', Decimal('1999.00'), 3)

In [6]:
mydb=data.cursor()
mydb.execute("update Rooms set room_number=105 where rate=1999")
print(mydb.rowcount,"records updated")

1 records updated

In [7]:
mydb=data.cursor()
mydb.execute("select * from Rooms limit 1 offset 2")
res=mydb.fetchone()
res

(105, 'deluxe', Decimal('1999.00'), 3)

# guest table

In [3]:
import mysql.connector

In [4]:
data=mysql.connector.connect(
        host="localhost",
        user="root",
        password='14302@Omkar',
        database='Hotel_reservation')
print(data)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001798EACE610>

In [5]:
mydb=data.cursor()

In [11]:
mydb.execute("create table Guests(guest_id int primary key,guest_name varchar(100) not null,email varchar(200) unique,phone_number varchar(20))")

In [12]:
mydb.execute("show tables")

for x in mydb:
    print(x)

('guests',)
('rooms',)

In [13]:
sql="insert into guests(guest_id,guest_name,email,phone_number)values(%s,%s,%s,%s)"
val=[
     (1,"ram","ram@email.com",123456789),
     (2,"raja","raja@email.com",98765432),
     (3,"akash","akash@email.com",53890262)
]
mydb.executemany(sql,val)
data.commit()
print(mydb.rowcount,"rows inserted")

3 rows inserted

In [14]:
mydb.execute("select * from guests")
a=mydb.fetchall()  #fetchall() is used to get the all records from table

for x in a:
    print(x)

(1, 'ram', 'ram@email.com', '123456789')
(2, 'raja', 'raja@email.com', '98765432')
(3, 'akash', 'akash@email.com', '53890262')

In [15]:
mydb.execute("select * from guests")

a=mydb.fetchone()  #fetchone() is used to get the one record from table
a

(1, 'ram', 'ram@email.com', '123456789')

In [6]:
mydb=data.cursor()
mydb.execute("select * from guests where guest_id=2")
res=mydb.fetchall()

for x in res:
    print(x)

(2, 'raja', 'raja@email.com', '98765432')

In [9]:
mydb=data.cursor()
mydb.execute("update guests set guest_name='sita' where email='raja@email.com' ")
print(mydb.rowcount,"records updated")

1 records updated

In [10]:
mydb=data.cursor()
mydb.execute("select * from guests limit 2")
res=mydb.fetchall()
res

[(1, 'ram', 'ram@email.com', '123456789'),
 (2, 'sita', 'raja@email.com', '98765432')]

In [11]:
mydb=data.cursor()
mydb.execute("select * from guests limit 1 offset 2")
res=mydb.fetchall()
res

[(3, 'akash', 'akash@email.com', '53890262')]

# reservation table

In [2]:
import mysql.connector

In [3]:
data=mysql.connector.connect(
        host="localhost",
        user="root",
        password='14302@Omkar',
        database='Hotel_reservation')
print(data)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000219805A0F90>

In [4]:
mydb=data.cursor()

In [15]:
mydb.execute("create table Reservations(reservation_id int primary key,room_number int,guest_id int,check_in_date Date,check_out_date Date,total_cost decimal(10,2),foreign key(room_number)references Rooms(room_number),foreign key (guest_id)references guests(guest_id))")

In [16]:
mydb.execute("show tables")

for x in mydb:
    print(x)

('guests',)
('reservations',)
('rooms',)

In [18]:
sql="insert into Reservations(reservation_id,room_number,guest_id,check_in_date,check_out_date,total_cost)values(%s,%s,%s,%s,%s,%s)"
val=[
    (1001,100,1,'2023-01-15','2023-01-20',500),
    (1002,102,2,'2023-02-18','2023-02-25',900),
    (1003,103,3,'2023-03-25','2023-04-29',1000)
]
mydb.executemany(sql,val)
data.commit()
print(mydb.rowcount,"rows inserted")

3 rows inserted

In [19]:
mydb.execute("select * from Reservations")
a=mydb.fetchall()

for x in a:
    print(x)

(1001, 100, 1, datetime.date(2023, 1, 15), datetime.date(2023, 1, 20), Decimal('500.00'))
(1002, 102, 2, datetime.date(2023, 2, 18), datetime.date(2023, 2, 25), Decimal('900.00'))
(1003, 103, 3, datetime.date(2023, 3, 25), datetime.date(2023, 4, 29), Decimal('1000.00'))

In [20]:
mydb.execute("select * from Reservations")
a=mydb.fetchone()
a

(1001,
 100,
 1,
 datetime.date(2023, 1, 15),
 datetime.date(2023, 1, 20),
 Decimal('500.00'))

In [5]:
mydb=data.cursor()
mydb.execute("select * from Reservations where reservation_id=1001")
res=mydb.fetchall()

for x in res:
    print(x)

(1001, 100, 1, datetime.date(2023, 1, 15), datetime.date(2023, 1, 20), Decimal('500.00'))

In [6]:
mydb=data.cursor()
mydb.execute('update Reservations set reservation_id=1430 where guest_id=1 ')
print(mydb.rowcount,"records updated")

1 records updated

In [7]:
mydb=data.cursor()

mydb.execute("select * from Reservations limit 3")
res=mydb.fetchall()
res

[(1002,
  102,
  2,
  datetime.date(2023, 2, 18),
  datetime.date(2023, 2, 25),
  Decimal('900.00')),
 (1003,
  103,
  3,
  datetime.date(2023, 3, 25),
  datetime.date(2023, 4, 29),
  Decimal('1000.00')),
 (1430,
  100,
  1,
  datetime.date(2023, 1, 15),
  datetime.date(2023, 1, 20),
  Decimal('500.00'))]

In [8]:
mydb=data.cursor()

mydb.execute("select * from Reservations limit 1 offset 2")
res=mydb.fetchall()
res

[(1430,
  100,
  1,
  datetime.date(2023, 1, 15),
  datetime.date(2023, 1, 20),
  Decimal('500.00'))]