In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\hp\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\hp\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector

In [3]:
#establishing the connection between pthon and query
data=mysql.connector.connect(
        host="localhost",
        user="root",
        password='14302@Omkar')
print(data)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000211E3C17750>

In [4]:
mydb=data.cursor()
mydb

In [7]:
mydb.execute("create database Library")

In [8]:
mydb.execute("show databases")

for x in mydb:
    print(x)

('database1',)
('hotel_reservation',)
('information_schema',)
('library',)
('mydata',)
('mysql',)
('naveendb',)
('onlinestore',)
('performance_schema',)
('sys',)

In [2]:
import mysql.connector

In [3]:
data=mysql.connector.connect(
        host="localhost",
        user="root",
        password='14302@Omkar',
        database="Library")
print(data)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000020677B07F90>

In [4]:
mydb=data.cursor()

In [16]:
mydb.execute("create table Authors(author_id int primary key,author_name varchar(200))")

In [17]:
mydb.execute("show tables")
for x in mydb:
    print(x)

('authors',)

In [19]:
sql="insert into Authors(author_id,author_name)values(%s,%s)"
val=[
    (1,"ram"),
    (2,"john"),
    (3,"mark")
]
mydb.executemany(sql,val)
data.commit()
print(mydb.rowcount,"rows inserted")

3 rows inserted

In [20]:
mydb.execute("select * from Authors")
a=mydb.fetchall()
for x in a:
    print(x)

(1, 'ram')
(2, 'john')
(3, 'mark')

In [7]:
mydb.execute("select * from Authors")
a=mydb.fetchone()
a

(1, 'ram')

In [5]:
mydb=data.cursor()
mydb.execute("select * from Authors limit 2")
res=mydb.fetchall()
res

[(1, 'ram'), (2, 'john')]

In [6]:
mydb=data.cursor()
mydb.execute("select * from Authors where author_id=1")
res=mydb.fetchall()
for x in res:
    print(x)

(1, 'ram')

In [7]:
mydb=data.cursor()
mydb.execute("update Authors set author_name='rama' where author_id=1")
print(mydb.rowcount,"records updated")

1 records updated

In [8]:
mydb=data.cursor()
mydb.execute("select * from Authors limit 1 offset 2")
res=mydb.fetchall()
res

[(3, 'mark')]

# books table

In [10]:
import mysql.connector

In [11]:
data=mysql.connector.connect(
        host="localhost",
        user="root",
        password='14302@Omkar',
        database='Library')
print(data)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001DAC8B517D0>

In [12]:
mydb=data.cursor()

In [12]:
mydb.execute("create table Books(book_id int primary key,title varchar(200),author_id int,available_copies int,total_copies int,genre varchar(50),publication_year int,foreign key (author_id)references Authors(author_id))")

In [13]:
mydb.execute("show tables")
for x in mydb:
    print(x)

('authors',)
('books',)

In [5]:
sql="insert into Books(book_id,title,author_id,available_copies,total_copies,genre,publication_year)values(%s,%s,%s,%s,%s,%s,%s)"
val=[
    (101,"The art of programming",1,5,10,"programming",2020),
    (102,"Data science basics",2,8,12,"data_science",2019),
    (103,"History of science",3,3,5,"history",2018)
]
mydb.executemany(sql,val)
data.commit()
print(mydb.rowcount,"rows inserted")

3 rows inserted

In [6]:
mydb.execute("select * from Books")
a=mydb.fetchall()

for x in a:
    print(x)

(101, 'The art of programming', 1, 5, 10, 'programming', 2020)
(102, 'Data science basics', 2, 8, 12, 'data_science', 2019)
(103, 'History of science', 3, 3, 5, 'history', 2018)

In [7]:
mydb.execute("select * from Books")
a=mydb.fetchone()
a

(101, 'The art of programming', 1, 5, 10, 'programming', 2020)

In [13]:
mydb=data.cursor()
mydb.execute("select * from Books where book_id=101")
res=mydb.fetchall()

for x in res:
    print(x)

(101, 'The art of programming', 1, 5, 10, 'programming', 2020)

In [15]:
mydb=data.cursor()
mydb.execute('update Books set book_id=100 where author_id=1')
print(mydb.rowcount,"records updated")

1 records updated

In [16]:
mydb=data.cursor()

mydb.execute("select * from Books limit 3")
res=mydb.fetchall()
res

[(100, 'The art of programming', 1, 5, 10, 'programming', 2020),
 (102, 'Data science basics', 2, 8, 12, 'data_science', 2019),
 (103, 'History of science', 3, 3, 5, 'history', 2018)]

In [17]:
mydb=data.cursor()

mydb.execute("select * from Books limit 1 offset 2")
res=mydb.fetchall()
res

[(103, 'History of science', 3, 3, 5, 'history', 2018)]

# borrowers table

In [2]:
import mysql.connector

In [3]:
data=mysql.connector.connect(
        host="localhost",
        user="root",
        password='14302@Omkar',
        database='Library')
print(data)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000026A45E2D0D0>

In [4]:
mydb=data.cursor()

In [21]:
mydb.execute("create table Borrowers(borrower_id int primary key,borrower_name varchar(200),contact_number varchar(15))")

In [22]:
mydb.execute("show tables")

for x in mydb:1
    print(x)

('authors',)
('books',)
('borrowers',)

In [24]:
sql="insert into Borrowers(borrower_id,borrower_name,contact_number)values(%s,%s,%s)"
val=[
    (501,"Naveen",9876543210),
    (502,"Ram",1234567890),
    (503,"John",6977292968)
]
mydb.executemany(sql,val)
data.commit()
print(mydb.rowcount,"rows inserted")

3 rows inserted

In [25]:
mydb.execute("select * from Borrowers")
a=mydb.fetchall()

for x in a:
    print(x)

(501, 'Naveen', '9876543210')
(502, 'Ram', '1234567890')
(503, 'John', '6977292968')

In [26]:
mydb.execute("select * from Borrowers")
a=mydb.fetchone()
a

(501, 'Naveen', '9876543210')

In [5]:
mydb=data.cursor()
mydb.execute("select * from Borrowers where borrower_id=501")
res=mydb.fetchall()

for x in res:
    print(x)

(501, 'Naveen', '9876543210')

In [6]:
mydb=data.cursor()
mydb.execute('update Borrowers set borrower_id=500 where borrower_name="Naveen"')
print(mydb.rowcount,"records updated")

1 records updated

In [7]:
mydb=data.cursor()

mydb.execute("select * from Borrowers limit 3")
res=mydb.fetchall()
res

[(500, 'Naveen', '9876543210'),
 (502, 'Ram', '1234567890'),
 (503, 'John', '6977292968')]

In [8]:
mydb=data.cursor()

mydb.execute("select * from Borrowers limit 1 offset 2")
res=mydb.fetchall()
res

[(503, 'John', '6977292968')]

# Transaction_table

In [1]:
import mysql.connector

In [2]:
data=mysql.connector.connect(
        host="localhost",
        user="root",
        password='14302@Omkar',
        database='Library')
print(data)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001529CC5D950>

In [3]:
mydb=data.cursor()

In [13]:
mydb.execute("create table Transactions(transaction_id int primary key,book_id int,borrower_id int,borrow_date Date,return_date Date,foreign key(book_id)references Books(book_id))")

In [14]:
mydb.execute("show tables")

for x in mydb:
    print(x)

('authors',)
('books',)
('borrowers',)
('transactions',)

In [15]:
sql="insert into Transactions(transaction_id,book_id,borrower_id,borrow_date,return_date)values(%s,%s,%s,%s,%s)"
val=[
    (1001,101,501,'2023-01-01','2023-01-15'),
    (1002,102,502,'2023-02-05','2023-02-20'),
    (1003,103,503,'2023-03-10','2023-03-25')
]
mydb.executemany(sql,val)
data.commit()
print(mydb.rowcount,"rows inserted")

3 rows inserted

In [16]:
mydb.execute("select * from Transactions")
a=mydb.fetchall()

for x in a:
    print(x)

(1001, 101, 501, datetime.date(2023, 1, 1), datetime.date(2023, 1, 15))
(1002, 102, 502, datetime.date(2023, 2, 5), datetime.date(2023, 2, 20))
(1003, 103, 503, datetime.date(2023, 3, 10), datetime.date(2023, 3, 25))

In [17]:
mydb.execute("select * from Transactions")
a=mydb.fetchone()
a

(1001, 101, 501, datetime.date(2023, 1, 1), datetime.date(2023, 1, 15))

In [4]:
mydb.execute("select * from Transactions")
a=mydb.fetchone()
a

(1001, 101, 501, datetime.date(2023, 1, 1), datetime.date(2023, 1, 15))

In [4]:
mydb=data.cursor()
mydb.execute("select * from Transactions where transaction_id=1001")
res=mydb.fetchall()

for x in res:
    print(x)

(1001, 101, 501, datetime.date(2023, 1, 1), datetime.date(2023, 1, 15))

In [5]:
mydb=data.cursor()
mydb.execute('update Transactions set transaction_id=1000 where book_id=101')
print(mydb.rowcount,"records updated")

1 records updated

In [6]:
mydb=data.cursor()

mydb.execute("select * from Transactions limit 3")
res=mydb.fetchall()
res

[(1000, 101, 501, datetime.date(2023, 1, 1), datetime.date(2023, 1, 15)),
 (1002, 102, 502, datetime.date(2023, 2, 5), datetime.date(2023, 2, 20)),
 (1003, 103, 503, datetime.date(2023, 3, 10), datetime.date(2023, 3, 25))]

In [7]:
mydb=data.cursor()

mydb.execute("select * from Transactions limit 1 offset 2")
res=mydb.fetchall()
res

[(1003, 103, 503, datetime.date(2023, 3, 10), datetime.date(2023, 3, 25))]