In [50]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\hp\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\hp\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [51]:
import mysql.connector

In [52]:
#establishing the connection between python and database
data=mysql.connector.connect(
        host="localhost",
        user="root",
        password='14302@Omkar')
print(data)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000016380EEB310>

In [53]:
mydb=data.cursor() #cursor() is used to interact with sql series
mydb

In [54]:
#mydb.execute("CREATE DATABASE OnlineStore") #executing the sql queries

In [19]:
mydb.execute("show databases")

for x in mydb:
    print(x)

('database1',)
('information_schema',)
('mydata',)
('mysql',)
('naveendb',)
('onlinestore',)
('performance_schema',)
('sys',)

In [2]:
import mysql.connector

In [3]:
data=mysql.connector.connect(
        host="localhost",
        user="root",
        password='14302@Omkar',
        database='OnlineStore')
print(data)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000024731E24050>

In [4]:
mydb=data.cursor()

In [59]:
#mydb.execute("create table Customers(id int primary key,first_name varchar(50),last_name varchar(50),email varchar(100) unique,phone_number varchar(20),address varchar(200))")

In [16]:
mydb.execute("show tables")

for x in mydb:
    print(x)

('customers',)

In [4]:
sql="insert into Customers(id,first_name,last_name,email,phone_number,address)values(%s,%s,%s,%s,%s,%s)"
val=[
    (1,"Naveen","Biradar","Naveenbiradar32@gmail.com",7760299861,"123 Main street"),
    (2,"Pravila","Desouza","Pravila123@gmail.com",1234567890,"454Balmatta"),
    (3,"John","Doe","John22@gmail.com",9876543210,"628Bangalore")
]
mydb.executemany(sql,val)
data.commit()
print(mydb.rowcount,"rows inserted")

In [17]:
mydb.execute("select * from Customers")
a=mydb.fetchall()  #fetchall() is used to get the all records from table

for x in a:
    print(x)

(1, 'Naveen', 'Biradar', 'Naveenbiradar32@gmail.com', '7760299861', '123 Main street')
(2, 'Pravila', 'Desouza', 'Pravila123@gmail.com', '1234567890', '454Balmatta')
(3, 'John', 'Doe', 'John22@gmail.com', '9876543210', '628Bangalore')

In [18]:
mydb.execute("select * from Customers")

a=mydb.fetchone()
a

(1,
 'Naveen',
 'Biradar',
 'Naveenbiradar32@gmail.com',
 '7760299861',
 '123 Main street')

In [5]:
mydb=data.cursor()
mydb.execute("select * from Customers limit 1")
res=mydb.fetchall()
res

[(1,
  'Naveen',
  'Biradar',
  'Naveenbiradar32@gmail.com',
  '7760299861',
  '123 Main street')]

In [6]:
mydb=data.cursor()
mydb.execute("select * from Customers where id=2")
res=mydb.fetchall()
for x in res:
    print(x)

(2, 'Pravila', 'Desouza', 'Pravila123@gmail.com', '1234567890', '454Balmatta')

In [9]:
mydb=data.cursor()
mydb.execute("update Customers set first_name='navi' where id=1")
print(mydb.rowcount,"records updated")

1 records updated

In [10]:
mydb=data.cursor()
mydb.execute("select * from Customers limit 1 offset 2")
res=mydb.fetchone()
res

(3, 'John', 'Doe', 'John22@gmail.com', '9876543210', '628Bangalore')

# product table

In [2]:
import mysql.connector

In [3]:
data=mysql.connector.connect(
        host="localhost",
        user="root",
        password='14302@Omkar',
        database='OnlineStore')
print(data)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001E7CAB6CB90>

In [4]:
mydb=data.cursor()

In [19]:
#mydb.execute("create table Products(Pid int primary key,Pname text not null,Price decimal(10,2) not null,Stock_quantity int not null)")

In [5]:
mydb.execute("show tables")

for x in mydb:
    print(x)

('customers',)
('products',)

In [8]:
sql="insert into Products(Pid,Pname,Price,Stock_quantity)values(%s,%s,%s,%s)"
val=[
     (1,"Laptop",999.99,50),
     (2,"Smartphone",499.99,100),
     (3,"Camera",599.99,80)
]
mydb.executemany(sql,val)
data.commit()
print(mydb.rowcount,"rows inserted")

3 rows inserted

In [6]:
mydb.execute("select * from products")
a=mydb.fetchall()  #fetchall() is used to get the all records from table

for x in a:
    print(x)

(1, 'Laptop', Decimal('999.99'), 50)
(2, 'Smartphone', Decimal('499.99'), 100)
(3, 'Camera', Decimal('599.99'), 80)

In [7]:
mydb.execute("select * from Products")
a=mydb.fetchone()
a

(1, 'Laptop', Decimal('999.99'), 50)

In [5]:
mydb=data.cursor()
mydb.execute("select * from Products where Pid=2")
res=mydb.fetchall()

for x in res:
    print(x)

(2, 'Smartphone', Decimal('499.99'), 100)

In [6]:
mydb=data.cursor()
mydb.execute("update Products set Price=10000 where Pname='Camera' ")
print(mydb.rowcount,"records updated")

1 records updated

In [7]:
mydb=data.cursor()

mydb.execute("select * from Products limit 2")
res=mydb.fetchall()
res

[(1, 'Laptop', Decimal('999.99'), 50),
 (2, 'Smartphone', Decimal('499.99'), 100)]

In [8]:
mydb=data.cursor()
mydb.execute("select * from Products limit 1 offset 2")
res=mydb.fetchone()
res

(3, 'Camera', Decimal('10000.00'), 80)

# oreders table

In [2]:
import mysql.connector

In [3]:
data=mysql.connector.connect(
        host="localhost",
        user="root",
        password='14302@Omkar',
        database='Onlinestore')
print(data)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000148D0284690>

In [4]:
mydb=data.cursor()

In [19]:
mydb.execute("create table Orders(Order_id int primary key,Customer_id int,Order_date timestamp default current_timestamp)")

In [20]:
mydb.execute("show tables")

for x in mydb:
    print(x)

('customers',)
('orders',)
('products',)

In [24]:
sql="insert into Orders(Order_id,Customer_id,Order_date)values(%s,%s,%s)"
val=[
     (147,1,'2023-01-15 08:30:00'),
     (4253,2,'2022-02-10 09:30:00'),
     (5362,3,'2021-05-20 06:40:00')
]
mydb.executemany(sql,val)
data.commit()
print(mydb.rowcount,"rows inserted")

3 rows inserted

In [25]:
mydb.execute("select * from Orders")
a=mydb.fetchall()  #fetchall() is used to get the all records from table

for x in a:
    print(x)

(147, 1, datetime.datetime(2023, 1, 15, 8, 30))
(4253, 2, datetime.datetime(2022, 2, 10, 9, 30))
(5362, 3, datetime.datetime(2021, 5, 20, 6, 40))

In [26]:
mydb.execute("select * from Orders")

a=mydb.fetchone()  #fetchone() is used to get the one record from table
a

(147, 1, datetime.datetime(2023, 1, 15, 8, 30))

In [5]:
mydb=data.cursor()
mydb.execute('select * from Orders where Order_id=147 ')
res=mydb.fetchall()

for x in res:
    print(x)

(147, 1, datetime.datetime(2023, 1, 15, 8, 30))

In [6]:
mydb=data.cursor()
mydb.execute("update Orders set Order_id=143 where Customer_id=1")
print(mydb.rowcount,"records updated")

1 records updated

In [7]:
mydb=data.cursor()
mydb.execute("select * from Orders limit 3")
res=mydb.fetchall()
res

[(143, 1, datetime.datetime(2023, 1, 15, 8, 30)),
 (4253, 2, datetime.datetime(2022, 2, 10, 9, 30)),
 (5362, 3, datetime.datetime(2021, 5, 20, 6, 40))]

In [8]:
mydb=data.cursor()
mydb.execute("select * from Orders limit 1 offset 2")
res=mydb.fetchall()
res

[(5362, 3, datetime.datetime(2021, 5, 20, 6, 40))]

# payments

In [2]:
import mysql.connector

In [3]:
data=mysql.connector.connect(
        host="localhost",
        user="root",
        password='14302@Omkar',
        database='Onlinestore')
print(data)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000020AF7557E90>

In [4]:
mydb=data.cursor()

In [12]:
mydb.execute ("create table Payments(Payment_id int primary key,P_order_id int,Payment_date timestamp default current_timestamp)")

In [13]:
mydb.execute("show tables")

for x in mydb:
    print(x)

('customers',)
('orders',)
('payments',)
('products',)

In [14]:
sql="insert into Payments(Payment_id,P_order_id,Payment_date)values(%s,%s,%s)"
val=[
     (15356,147,'2023-01-15 08:30:00'),
     (436748,4253,'2022-02-10 09:30:00'),
     (68595,5362,'2021-05-20 06:40:00')
]
mydb.executemany(sql,val)
data.commit()
print(mydb.rowcount,"rows inserted")

3 rows inserted

In [15]:
mydb.execute("select * from Payments")
a=mydb.fetchall()  #fetchall() is used to get the all records from table

for x in a:
    print(x)

(15356, 147, datetime.datetime(2023, 1, 15, 8, 30))
(68595, 5362, datetime.datetime(2021, 5, 20, 6, 40))
(436748, 4253, datetime.datetime(2022, 2, 10, 9, 30))

In [16]:
mydb.execute("select * from Payments")

a=mydb.fetchone()  #fetchone() is used to get the one record from table
a

(15356, 147, datetime.datetime(2023, 1, 15, 8, 30))

In [5]:
mydb=data.cursor()
mydb.execute('select * from Payments where P_order_id=147')
res=mydb.fetchall()

for x in res:
    print(x)

(15356, 147, datetime.datetime(2023, 1, 15, 8, 30))

In [6]:
mydb=data.cursor()
mydb.execute('update Payments set P_order_id=143 where Payment_id=15356')
print(mydb.rowcount,"records updated")

1 records updated

In [7]:
mydb=data.cursor()

mydb.execute("select * from Payments limit 3")
res=mydb.fetchall()
res

[(15356, 143, datetime.datetime(2023, 1, 15, 8, 30)),
 (68595, 5362, datetime.datetime(2021, 5, 20, 6, 40)),
 (436748, 4253, datetime.datetime(2022, 2, 10, 9, 30))]

In [8]:
mydb=data.cursor()

mydb.execute("select * from Payments limit 1 offset 2")
res=mydb.fetchall()
res

[(436748, 4253, datetime.datetime(2022, 2, 10, 9, 30))]